<div class="left-content-box" id="filter-box">
  <div class="form-group">
    <label for="exampleInputEmail1">Temporal</label>
    <input type="text" class="form-control date filter-date" id="filter-date-from" placeholder="De" data-inputmask="'alias': 'yyyy/mm/dd'" data-mask>
  </div>
  <div class="form-group">
    <input type="text" class="form-control date filter-date" id="filter-date-to" placeholder="At&eacute;" data-inputmask="'alias': 'yyyy/mm/dd'" data-mask>
  </div>
  <div class="form-group">
    <label>Por Satélite</label>
    <select class="form-control" id="filter-satellite">
      <option value="all">TODOS</option>
      <%
      configurations.filterConfigurations.Satellites.forEach(function(satellite, index) {
        if(satellite.Current) {
        %>
        <option value="<%- satellite.Name %>"<%- satellite.Selected ? " selected" : "" %>><%- satellite.Name %></option>
        <%
        }
      })
      %>
    </select>
  </div>
  <button class="btn btn-primary" id="filter-button">Aplicar</button>
</div>
