<div class="left-content-box" id="filter-box">
  <h3 class="box-title">Filtros</h3>
  <div class="form-group">
    <label for="exampleInputEmail1">Temporal</label>
    <input type="text" class="form-control date filter-date" id="filter-date-from" placeholder="De" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
  </div>
  <div class="form-group">
    <input type="text" class="form-control date filter-date" id="filter-date-to" placeholder="At&eacute;" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
  </div>
  <div class="form-group">
    <label>Por Satélite</label>
    <select class="form-control" id="filter-satellite">
      <option value="all">TODOS</option>
      
    </select>
  </div>
  <button class="btn btn-primary" id="filter-button">Aplicar</button>
</div>
