<div class="fullscreen left-content-box" id="graph-box">
  <br/>
  <div id="graphics-container"></div>
</div>

<div id="timeSeriesDialog" title="Time Series" style="display: none; z-index: 999999 !important;">
  <canvas id="time-series" style="height: 300px;"></canvas>
</div>
