<div class="fullscreen left-content-box" id="graph-box">
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Filtro</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <div class="box-body">
      <div class="component-filter">
        <div class="component-filter-title">Confirme abaixo as datas e os sat&eacute;lites dos gr&aacute;ficos. Para alterar a regi&atilde;o, use a p&aacute;gina principal de filtros.</div>
        <div class="component-filter-content">
          <label for="filter-date-from-graphics">Início</label>
          <input type="text" class="form-control date filter-date-from" id="filter-date-from-graphics" placeholder="De">
          <label for="filter-date-to-graphics">Fim</label>
          <input type="text" class="form-control date filter-date-to" id="filter-date-to-graphics" placeholder="Até">
          <label for="filter-satellite-graphics">Focos dos Sat&eacute;lites</label>
          <select multiple class="form-control" id="filter-satellite-graphics">
            <option value="all" selected>TODOS</option>
            <%
            configurations.filterConfigurations.Satellites.forEach(function(satellite, index) {
              if(satellite.Current) {
              %>
              <option value="<%- satellite.Name %>"<%- satellite.Selected ? " selected" : "" %>><%- satellite.Name %></option>
              <%
              }
            })
            %>
          </select>
          <button class="btn btn-primary" id="filter-button-graphics">Aplicar</button>
        </div>
        <div class="clear"></div>
        <span class="help-block component-filter-error" id="filter-error-graphics"></span>
      </div>
      <table class="table table-bordered table-hover" id="attributes-table"></table>
    </div>
  </div>
  <div id="graphics-container"></div>
</div>
<div id="time-series-dialog" title="S&eacute;ries Temporais"><div><canvas id="time-series"></canvas></div></div>
