<div class="fullscreen left-content-box" id="graph-box">
  <div class="box box-default">
    <div class="box-body">
      <div class="component-filter">
        <div class="component-filter-title">Confirme abaixo as datas e os sat&eacute;lites dos gr&aacute;ficos. Para alterar a regi&atilde;o, use a p&aacute;gina principal de filtros.</div>
        <div class="component-filter-content">
          <label for="filter-date-from-graphics">Início</label>
          <input type="text" class="form-control date filter-date-from" id="filter-date-from-graphics" placeholder="De">
          <label for="filter-date-to-graphics">Fim</label>
          <input type="text" class="form-control date filter-date-to" id="filter-date-to-graphics" placeholder="Até">
          <label for="filter-satellite-graphics">Focos dos Sat&eacute;lites</label>
          <select multiple class="form-control" id="filter-satellite-graphics">
            <%
            var satelliteOptions = "";
            var referenceSatellite = "";
            var isSatelliteSelected = false;

            configurations.filterConfigurations.Satellites.forEach(function(satellite, index) {
              if(satellite.Current) {
                if(satellite.ReferenceCurrent) {
                  referenceSatellite += "<option value=\"" + satellite.Id + "\"";

                  if(satellite.Selected) {
                    referenceSatellite += " selected>";

                    if(!isSatelliteSelected) isSatelliteSelected = true;
                  } else {
                    referenceSatellite += ">";
                  }

                  referenceSatellite += "Refer&ecirc;ncia</option>";
                } else {
                  satelliteOptions += "<option value=\"" + satellite.Id + "\"";

                  if(satellite.Selected) {
                    satelliteOptions += " selected>";

                    if(!isSatelliteSelected) isSatelliteSelected = true;
                  } else {
                    satelliteOptions += ">";
                  }

                  satelliteOptions += satellite.Name + "</option>";
                }
              }
            })
            %>

            <option value="all"<%- (!isSatelliteSelected) ? " selected" : ""%>>TODOS</option>
            <%- referenceSatellite + satelliteOptions %>
          </select>
          <label for="filter-biome-graphics">Focos dos Biomas</label>
          <select multiple class="form-control" id="filter-biome-graphics">
            <option value="all" selected>TODOS</option>
            <option value="Amazonia">Amaz&ocirc;nia</option>
            <option value="Caatinga">Caatinga</option>
            <option value="Cerrado">Cerrado</option>
            <option value="Mata Atlantica">Mata Atl&acirc;ntica</option>
            <option value="Pampa">Pampa</option>
            <option value="Pantanal">Pantanal</option>
          </select>
          <button class="btn btn-primary" id="filter-button-graphics">Aplicar</button>
        </div>
        <span id="graphics-no-data" style="text-align: center; display: none;">
          <div class="clear"></div>
          <hr/>
          <h4>Sem focos com a sele&ccedil;&atilde;o escolhida</h4>
        </span>
      </div>
      <table class="table table-bordered table-hover" id="attributes-table"></table>
    </div>
  </div>
  <div id="graphics-container"></div>
</div>
<div id="time-series-dialog" title="S&eacute;ries Temporais"><div><canvas id="time-series"></canvas></div></div>
