<div class="fullscreen left-content-box" id="graph-box">
  <br/>
  <div class="box box-default graphic-item">
    <div class="box-header with-border">
      <h3 class="box-title">Focos por Satélite</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body" style="display: block;">
      <div class="chart">
        <canvas id="fires-count-by-satellite-graphic" style="height: 300px;"></canvas>
      </div>
    </div>
  </div>
  <div class="box box-default graphic-item">
    <div class="box-header with-border">
      <h3 class="box-title">Focos por Estado</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body" style="display: block;">
      <div class="chart">
        <canvas id="fires-count-by-state-graphic" style="height: 300px;"></canvas>
      </div>
    </div>
  </div>
  <div class="box box-default graphic-item">
    <div class="box-header with-border">
      <h3 class="box-title">Focos por Bioma</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body" style="display: block;">
      <div class="chart">
        <canvas id="fires-count-by-biome-graphic" style="height: 300px;"></canvas>
      </div>
    </div>
  </div>
</div>
