<div class="fullscreen left-content-box" id="graph-box">
  <br/>
  <div id="graphics-container"></div>
</div>
<div id="time-series-dialog" title="S&eacute;ries Temporais">
  <div>
    <canvas id="time-series"></canvas>
  </div>
</div>
