<div class="fullscreen left-content-box" id="graph-box">
  <br/>
  <div id="graphics-container"></div>
</div>
<div id="timeSeriesDialog" title="Séries Temporais" style="display: none; padding: 0 !important;">
  <div style="width: 800px; height: 350px; margin: 0 auto; margin-top: 10px;">
    <canvas id="time-series"></canvas>
  </div>
</div>
