<div class="fullscreen left-content-box" id="table-box">
  <br/>
  <div class="box" id="box-attributes-table">
    <div class="box-header">
      <h3 class="box-title">Hover Data Table</h3>
    </div>
    <div class="box-body">
      <table class="table table-bordered table-hover" id="attributes-table"></table>
    </div>
  </div>
</div>
