.idea
configurations/Api.*
configurations/Application.*
configurations/AttributesTable.*
configurations/Database.*
configurations/Filter.*
configurations/Graphics.*
configurations/Map.*
configurations/Piwik.*
configurations/Tables.*
public/dist
public/docs
node_modules
npm-debug.log
.vscode