.idea
configurations/Api.*
configurations/Application.*
configurations/AttributesTable.*
configurations/Database.*
configurations/Filter.*
configurations/Graphics.*
configurations/Map.*
configurations/Tables.*
node_modules
npm-debug.log
docs
