<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="favicon" href="<%- BASE_URL %>favicon.ico" type="image/x-icon">
    <% include templates/stylesheets %>
    <title>Banco de Dados de Queimadas</title>
  </head>
  <body class="skin-queimadas sidebar-mini wysihtml5-supported">
    <div class="wrapper">
      <% include templates/header %>
      <% include templates/leftbar %>
      <% include templates/leftContentBoxes %>
      <div class="content-wrapper">
        <section class="content">
          <div class="row">
            <div id="terrama2-map" class="terrama2-map fullmenu cursor-move">
              <span id="loading-span" class="hide"><i class="fa fa-refresh fa-spin"></i></span>
              <div id="map-subtitle" class="col-md-3" style="width: 150px">
                <div class="box box-solid collapsed-box">
                  <div class="box-header with-border">
                    <h3 class="box-title">Legendas</h3>
                    <div class="box-tools">
                      <button type="button" class="btn btn-box-tool map-subtitle-toggle" data-widget="collapse" title="Exibir Legendas"><i class="fa fa-chevron-down"></i></button>
                    </div>
                  </div>
                  <div class="box-body no-padding"><ul class="nav nav-pills nav-stacked" id="map-subtitle-items"></ul></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <% include templates/footer %>
    <% include templates/javascripts %>
  </body>
</html>
