<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="favicon" href="favicon.ico" type="image/x-icon">
    <% include templates/stylesheets %>
    <title>Banco de Dados de Queimadas</title>
  </head>
  <body class="skin-queimadas sidebar-mini wysihtml5-supported">
    <div class="wrapper">
      <% include templates/header %>
      <% include templates/leftbar %>
      <% include templates/leftContentBoxes %>
      <div class="content-wrapper">
        <div id="welcome-image"></div>
        <!--<section class="content-header"><h1>Banco de Dados de Queimadas</h1></section>-->
        <section class="content">
          <div id="welcome">
            <div id="welcome-text">
              <p class="title">Bem-Vindo ao BDQueimadas</p>
              <p class="text">Banco de Dados de Queimadas / Inc&ecirc;ndios<br/>Vers&atilde;o 2016</p>
              <p class="text">
                <hr id="welcome-text-separator"/>
                <br/><br/>
                <span id="bdqueimadas-description">
                  Plataforma digital para monitoramento e alerta de fogo na vegeta&ccedil;&atilde;o no Cerrado brasileiro (Banco Mundial TF018566)
                </span>
              </p>
              <button class="sidebar-toggle begin" data-toggle="offcanvas" role="button">Come&ccedil;ar</button>
            </div>
          </div>
          <div class="row">
            <div id="terrama2-map" class="terrama2-map fullmenu cursor-move">
              <span id="loading-span" class="hide"><i class="fa fa-refresh fa-spin"></i></span>
              <div id="map-subtitle" class="col-md-3">
                <div class="box box-solid">
                  <div class="box-header with-border">
                    <h3 class="box-title">Legendas</h3>
                    <div class="box-tools">
                      <button type="button" class="btn btn-box-tool map-subtitle-toggle" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                  </div>
                  <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked" id="map-subtitle-items"></ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <% include templates/footer %>
    <% include templates/toolbar %>
    <% include templates/javascripts %>
  </body>
</html>
