<%
  var terrama2Path = "http://localhost:36000";
%>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/externals/openlayers/ol.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/externals/jquery/jquery-ui.css">
    <link rel="stylesheet" href="/javascripts/externals/jquery/DataTables-1.10.10/media/css/jquery.dataTables.css">
    <link rel="stylesheet" href="<%= terrama2Path %>/stylesheets/terrama2.css">
    <script src="/javascripts/externals/openlayers/ol.js" type="text/javascript"></script>
    <script src="/javascripts/externals/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/externals/jquery/jquery.mask.js" type="text/javascript"></script>
    <script src="/javascripts/externals/jquery/jquery-ui.js" type="text/javascript"></script>
    <script src="/javascripts/externals/jquery/DataTables-1.10.10/media/js/jquery.dataTables.js" type="text/javascript"></script>
    <script src="/javascripts/externals/chart.js/Chart.min.js" type="text/javascript"></script>
    <title>Banco de Dados de Queimadasrs</title>
  </head>
  <body>
    <% include templates/gov-identity-bar %>
    <div class="top">
      <div class="top-title">BDQueimadas</div>
      <div class="top-language">Idioma</div>
    </div>
    <div class="content">
      <div id="terrama2-container">
        <div id="terrama2-leftbar">
          <div id="maximized-map-logos" class="hide"></div>
          <button class="terrama2-leftbar-button" title="Data" terrama2-box="terrama2-layerexplorer"></button>
          <button class="terrama2-leftbar-button button-filter" title="Data" terrama2-box="filter" title="Filtro"></button>
          <button class="terrama2-leftbar-button terrama2-leftbar-button-table" title="Data" terrama2-box="terrama2-table"></button>
          <button class="terrama2-leftbar-button terrama2-leftbar-button-graphic" title="Data" terrama2-box="terrama2-graphic"></button>
        </div>
        <div id="terrama2-layerexplorer" class="terrama2-leftbox terrama2-resizable-horizontal"></div>
        <div id="filter" class="terrama2-leftbox">
          <div class="terrama2-leftbox-content">
            <div class="terrama2-leftbox-header"><h2>Filtro</h2></div>
            <div class="form-group">
              <h4>Temporal</h4>
              <input type="text" class="input regular date" id="filter-date-from" placeholder="De"/>
              <input type="text" class="input regular date" id="filter-date-to" placeholder="At&eacute;"/>
              <h4>Por Sat&eacute;lite</h4>
              <select class="input select" id="filter-satellite"><option value="all">TODOS</option><option value="GOES-13">GOES-13</option><option value="METEOSAT-02">METEOSAT-02</option><option value="NPP">NPP</option><option value="NPP_375">NPP_375</option><option value="TERRA_M-M">TERRA_M-M</option></select>
              <button class="form-button" id="filter-button">Aplicar</button>
            </div>
          </div>
        </div>
        <div id="terrama2-table" class="terrama2-leftbox terrama2-leftbox-fullscreen">
          <div class="terrama2-fullscreen-container">
            <div class="terrama2-leftbox-header"><h2>Tabelas</h2></div>
            <table class="display terrama2-table" id="attributes-table"></table>
          </div>
        </div>
        <div id="terrama2-graphic" class="terrama2-leftbox terrama2-leftbox-fullscreen terrama2-leftbox-left">
          <div class="terrama2-fullscreen-container">
            <div class="terrama2-leftbox-header">
              <h2>Gr&aacute;ficos</h2>
              <h3><span class="terrama2-span-active" style="margin-right: 30px;" id="graphic-left">Focos por Estados</span>|<span style="margin-left: 30px;" id="graphic-right">Focos por Biomas</span></h3>
            </div>
            <div style="width: 99%; height: 80%;">
              <canvas id="canvas"></canvas>
              <canvas id="chart-area" style="display: none;"/>
            </div>
          </div>
        </div>
        <div id="terrama2-map">
          <div class="map-button">
            <button id="maximize-map-button" class="maximize-map"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-text">
        Financiadores:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The World Bank&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Department for Environment, Food and Rural Affairs of United Kingdom (DEFRA)
        <br/>Projeto:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Platform of Monitoring and Warning of Forest Fires in the Brazilian Cerrado Project
      </div>
    </div>
    <script src="<%= terrama2Path %>/javascripts/terrama2.js" type="text/javascript"></script>
    <script src="/javascripts/events.js" type="text/javascript"></script>
    <script src="/javascripts/filter.js" type="text/javascript"></script>
    <script src="/javascripts/bdqueimadas.js" type="text/javascript"></script>
    <script src="/javascripts/attributestable.js" type="text/javascript"></script>
    <script src="/javascripts/graphics.js" type="text/javascript"></script>
    <script>
    var terrama2 = new TerraMA2(
      "<%= terrama2Path %>",
      [
        "MapDisplay",
        "LayerExplorer",
        "LeftBar"
      ]
    );

    var bdqueimadas = new BDQueimadas(terrama2);

    var filter = new Filter(bdqueimadas, terrama2);

    var table = new AttributesTable(bdqueimadas);

    var graphics = new Graphics(bdqueimadas);

    $('.date').mask("00/00/0000", {clearIfNotMatch: true});
    </script>
  </body>
</html>
