<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="favicon" href="favicon.ico" type="image/x-icon">
    <% include templates/stylesheets %>
    <title>Banco de Dados de Queimadas</title>
  </head>
  <body class="skin-queimadas sidebar-mini wysihtml5-supported">
    <div class="wrapper">
      <% include templates/header %>
      <% include templates/leftbar %>
      <% include templates/leftContentBoxes %>
      <div class="content-wrapper">
        <section class="content-header logo-bdqueimadas"><h1>Banco de Dados de Queimadas</h1></section>
        <section class="content">
          <div id="welcome">
            <img src="images/welcome.jpg">
            <div id="welcome-text">
              <p class="title">Bem-Vindo ao BDQueimadas</p>
              <p class="text">Banco de Dados de Queimadas / Inc&ecirc;ndios<br/><span style="">Vers&atilde;o 2016</span></p>
              <p class="text">
                <hr style="margin-top: 20px;
                          margin-bottom: 20px;
                          border: 0;
                          border-top: 8px solid #f8b802;
                          width: 650px;
                          position: absolute;
                          right: 0;"/>
                <br/><br/>
              <span style="color: #fbda43;
                            font-weight: bold;
                            font-style: italic;
                            font-size: 25px;">Plataforma digital para monitoramento e alerta de fogo na vegetação no Cerrado
                            brasileiro (Banco Mundial TF018566)</span></p>
              <button class="sidebar-toggle begin" data-toggle="offcanvas" role="button">Começar</button>
            </div>
          </div>
          <div class="row">
            <div id="terrama2-map" class="terrama2-map fullmenu cursor-move">
              <div id="map-subtitle" class="col-md-3">
                <div class="box box-solid">
                  <div class="box-header with-border">
                    <h3 class="box-title">Legendas</h3>
                    <div class="box-tools">
                      <button type="button" class="btn btn-box-tool map-subtitle-toggle" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                  </div>
                  <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked" id="map-subtitle-items"></ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <% include templates/footer %>
    <% include templates/toolbar %>
    <% include templates/javascripts %>
  </body>
</html>
