<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/css/externals/openlayers/ol.css" type="text/css">
    <link rel="stylesheet" href="../public/css/externals/bootstrap/bootstrap-slider.css">
    <link rel="stylesheet" href="../public/css/externals/bootstrap/bootstrap.glyphicon.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/externals/jquery/jquery-ui.css">
    <link rel="stylesheet" href="http://localhost/terrama2/webapp/public/css/terrama2.css">
    <script src="../public/js/externals/openlayers/ol.js" type="text/javascript"></script>
    <script src="../public/js/externals/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="../public/js/externals/jquery/jquery.mask.js" type="text/javascript"></script>
    <script src="../public/js/externals/jquery/jquery-ui.js" type="text/javascript"></script>
    <script src="../public/js/externals/bootstrap/bootstrap-slider.js" type="text/javascript"></script>
    <title>Banco de Dados de Queimadasrs</title>
  </head>
  <body>
    <div id="gov-identity-bar"></div>
    <div class="banner">
      <div class="banner-title">BDQueimadas</div>
      <div class="banner-language">Idioma</div>
    </div>
    <div class="content">
      <div class="terrama2-container">
        <div id="terrama2-leftbar">
          <button class="terrama2-leftbar-button" title="Data" terrama2-box="terrama2-layerexplorer"></button>
          <button class="terrama2-leftbar-button" title="Data" terrama2-box="terrama2-filter"></button>
        </div>
        <div id="terrama2-layerexplorer" class="terrama2-leftbox"></div>
        <div id="terrama2-filter" class="terrama2-leftbox">
          <div class="terrama2-leftbox-content">
            <div class="terrama2-leftbox-header"><h2>Filtro</h2><hr></div>
            <div class="terrama2-form-group">
              <h4>Temporal</h4>
              <input type="text" class="terrama2-input date regular" id="terrama2-filter-date-de" placeholder="De"/>
              <input type="text" class="terrama2-input date regular" id="terrama2-filter-date-ate" placeholder="At&eacute;"/>
              <h4>Por Sat&eacute;lite</h4>
              <select class="terrama2-input terrama2-select" id="terrama2-filter-satellite"></select>
              <button class="terrama2-form-button" id="terrama2-filter-button">Aplicar</button>
            </div>
          </div>
        </div>
        <div id="terrama2-map"></div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-text">
        <div class="footer-text-title">Financiadores:</div>
        <div class="footer-text-content">
          The World Bank<br/>
          Department for Environment, Food and Rural Affairs of United Kingdom (DEFRA)
        </div>
        <div style="clear: both;"></div>
        <div class="footer-text-title">Projeto:</div>
        <div class="footer-text-content">
          Platform of Monitoring and Warning of Forest Fires in the Brazilian Cerrado Project
        </div>
      </div>
    </div>
    <script src="http://localhost/terrama2/webapp/public/js/terrama2.js" type="text/javascript"></script>
    <script>
    $("#gov-identity-bar").load('templates/barra-identidade-gov.html');
    var terrama2 = new TerraMA2([
      "MapDisplay",
      "LayerExplorer",
      "LeftBar",
      "Filter"
    ]);
    </script>
  </body>
</html>
