@font-face {
  font-family: 'Titillium Light Upright';
  src: url('../fonts/titillium/Titillium-LightUpright.otf');
}

@font-face {
  font-family: 'Titillium Regular Upright';
  src: url('../fonts/titillium/Titillium-RegularUpright.otf');
}

@font-face {
  font-family: 'Titillium Semibold Upright';
  src: url('../fonts/titillium/Titillium-SemiboldUpright.otf');
}

@font-face {
  font-family: 'Titillium Thin Upright';
  src: url('../fonts/titillium/Titillium-ThinUpright.otf');
}

@font-face {
  font-family: 'Titillium Black';
  src: url('../fonts/titillium/TitilliumWeb-Black.ttf');
}

@font-face {
  font-family: 'Titillium Bold';
  src: url('../fonts/titillium/TitilliumWeb-Bold.ttf');
}

@font-face {
  font-family: 'Titillium BoldItalic';
  src: url('../fonts/titillium/TitilliumWeb-BoldItalic.ttf');
}

@font-face {
  font-family: 'Titillium ExtraLight';
  src: url('../fonts/titillium/TitilliumWeb-ExtraLight.ttf');
}

@font-face {
  font-family: 'Titillium Extra Light Italic';
  src: url('../fonts/titillium/TitilliumWeb-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'Titillium Italic';
  src: url('../fonts/titillium/TitilliumWeb-Italic.ttf');
}

@font-face {
  font-family: 'Titillium Light';
  src: url('../fonts/titillium/TitilliumWeb-Light.ttf');
}

@font-face {
  font-family: 'Titillium Light Italic';
  src: url('../fonts/titillium/TitilliumWeb-LightItalic.ttf');
}

@font-face {
  font-family: 'Titillium Regular';
  src: url('../fonts/titillium/TitilliumWeb-Regular.ttf');
}

@font-face {
  font-family: 'Titillium Semibold';
  src: url('../fonts/titillium/TitilliumWeb-SemiBold.ttf');
}

@font-face {
  font-family: 'Titillium Semibold Italic';
  src: url('../fonts/titillium/TitilliumWeb-SemiBoldItalic.ttf');
}


html, body {
  font-family: 'Titillium Regular', Helvetica, Arial, sans-serif;
  margin: 0;
}

.content {
  position: relative;
  width: 100%;
  height: calc(100% - 253px);
}

.banner {
  position: relative;
  width: 100%;
  height: 148px;
  background-color: #f1f1f1;
  z-index: 99999;
  border-bottom: 1px solid #a6a07c;
  font-family: 'Titillium Semibold Upright';
  font-size: 48px;
  text-transform: uppercase;
  color: rgb(84,84,84);
  background-image: url('../img/logos.png'), url('../img/icon_idioma.png');
  background-repeat: no-repeat;
  background-position: 50px 37px, calc(100% - 50px) 70px;
}

.banner-title {
  position: relative;
  margin: 0 auto;
  width: 295px;
  top: 76px;
  transform: translateY(-50%);
}

.banner-language {
  font-family: 'Titillium Regular';
  font-size: 17px;
  color: #818181;
  text-transform: none;
  text-align: right;
  margin-top: 12px;
  margin-right: 85px;
}

.footer {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #FFFFFF;
  z-index: 99999;
  border-top: 1px solid #a6a07c;
  font-family: 'Titillium Light Upright' !important;
  font-size: 14px;
  color: rgb(84,84,84);
}

.footer-text {
  position: relative;
  margin: 0 auto;
  width: 550px;
  height: 55px;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}

.footer-text-title {
  font-family: 'Titillium Semibold Upright' !important;
  float: left;
  width: 100px;
}

.footer-text-content {
  float: left;
}
