<footer>
  <div id="footer" role="contentinfo">
    <a name="afooter" id="afooter"></a>
    <!--<div id="doormat-container" class="columns-6">
      <div class="doormatColumn column-0">
        <dl class="doormatSection">
          <dt class="doormatSectionHeader">Financiadores</dt>
          <dd class="doormatSectionBody">The World Bank</dd>
          <dd class="doormatSectionBody"></dd>
          <dd class="doormatSectionBody"></dd>
          <dd class="doormatSectionBody">Department for Environment, Food and Rural Affairs of United Kingdom (DEFRA)</dd>
        </dl>
      </div>
      <div class="doormatColumn column-1">
        <dl class="doormatSection">
          <dt class="doormatSectionHeader">Projeto</dt>
          <dd class="doormatSectionBody">Platform of Monitoring and Warning of Forest Fires in the Brazilian Cerrado Project</dd>
        </dl>
      </div>
      <div class="doormatColumn column-2">
        <dl class="doormatSection">
          <dt class="doormatSectionHeader">Fale com a Lorem</dt>
          <dd class="doormatSectionBody">Lorem ipsum dolor sit Amet consectetur</dd>
        </dl>
      </div>
      <div class="doormatColumn column-3">
        <dl class="doormatSection">
          <dt class="doormatSectionHeader">Redes sociais</dt>
          <dd class="doormatSectionBody">
            <a href="https://twitter.com/twitter" class="external-link">Twitter</a>
          </dd>
          <dd class="doormatSectionBody">
            <a href="http://youtube.com/youtube" class="external-link">YouTube</a>
          </dd>
          <dd class="doormatSectionBody">
            <a href="http://www.facebook.com/facebook" class="external-link">Facebook</a>
          </dd>
          <dd class="doormatSectionBody">
            <a href="http://flickr.com/flickr" class="external-link">Flickr</a>
          </dd>
        </dl>
      </div>
      <div class="doormatColumn column-4">
        <dl class="doormatSection">
          <dt class="doormatSectionHeader">Mapa do Site</dt>
        </dl>
      </div>
      <div class="doormatColumn column-5">
        <dl class="doormatSection">
          <dt class="doormatSectionHeader">RSS</dt>
          <dd class="doormatSectionBody">
            <a href="http://portalpadrao.gov.br/rss/o-que-e" class="external-link">O que é?</a>
          </dd>
          <dd class="doormatSectionBody">
            <a href="http://portalpadrao.gov.br/assine-rss" class="external-link">Assine</a>
          </dd>
        </dl>
      </div>
    </div>-->
    <div id="footer-image"></div>
    <div class="clear"></div>
    <p>Plataforma digital para monitoramento e alerta de fogo na vegeta&ccedil;&atilde;o no Cerrado brasileiro (Banco Mundial TF018566)</p>
    <div id="footer-brasil" class="footer-logos">
      <div>
        <a href="http://www.acessoainformacao.gov.br/" class="logo-acesso">
          <img src="externals/adminlte/img/acesso-a-informacao.png" alt="Acesso a Informação">
        </a>
        <a href="http://www.brasil.gov.br/" class="logo-brasil">
          <img src="externals/adminlte/img/brasil.png" alt="Brasil - Governo Federal">
        </a>
      </div>
    </div>
  </div>
  <div id="reduced-footer">
    <div></div>
    <div></div>
  </div>
  <div id="extra-footer">
    <!--<p><a href="#" id="about-btn"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;&nbsp;Sobre</a></p>-->
  </div>
</footer>
