<footer>
  <!--<div id="footer" role="contentinfo">
    <a name="afooter" id="afooter"></a>
    <div id="footer-image"></div>
    <div class="clear"></div>
    <div id="footer-brasil" class="footer-logos">
      <div>
        <a href="http://www.acessoainformacao.gov.br/" class="logo-acesso" target="_blank">
          <img src="externals/adminlte/img/acesso-a-informacao.png" alt="Acesso a Informação">
        </a>
        <a href="http://www.brasil.gov.br/" class="logo-brasil" target="_blank">
          <img src="externals/adminlte/img/brasil.png" alt="Brasil - Governo Federal">
        </a>
      </div>
    </div>
  </div>-->
  <div id="reduced-footer">
    <div style="height: 4px;"></div>
    <div style="height: 4px;"></div>
  </div>
  <div id="extra-footer"></div>
</footer>
