<div class="footer">
  <div class="footer-text">
    Financiadores:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The World Bank&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Department for Environment, Food and Rural Affairs of United Kingdom (DEFRA)
    <br/>Projeto:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Platform of Monitoring and Warning of Forest Fires in the Brazilian Cerrado Project
  </div>
</div>
