<footer>
  <div id="footer" role="contentinfo">
    <a name="afooter" id="afooter"></a>
    <div id="footer-image"></div>
    <div class="clear"></div>
    <p>Plataforma digital para monitoramento e alerta de fogo na vegeta&ccedil;&atilde;o no Cerrado brasileiro (Banco Mundial TF018566)</p>
    <div id="footer-brasil" class="footer-logos">
      <div>
        <a href="http://www.acessoainformacao.gov.br/" class="logo-acesso">
          <img src="externals/adminlte/img/acesso-a-informacao.png" alt="Acesso a Informação">
        </a>
        <a href="http://www.brasil.gov.br/" class="logo-brasil">
          <img src="externals/adminlte/img/brasil.png" alt="Brasil - Governo Federal">
        </a>
      </div>
    </div>
  </div>
  <div id="reduced-footer">
    <div></div>
    <div></div>
  </div>
  <div id="extra-footer"></div>
</footer>
