<header class="main-header">
  <% /* include brasilGovHeader */ %>
  <span class="logo">
    <span class="logo-mini"></span>
    <span class="logo-lg">BDQueimadas</span>
  </span>
  <nav class="navbar navbar-static-top" role="navigation">
    <!--<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" id="main-sidebar-toggle" style="display: none;" title="Diminuir Mapa">
      <span class="sr-only">Diminuir Mapa</span>
    </a>-->
    <div id="page-title">
      <span class="dynamic-text">Banco de Dados de Queimadas</span>
      <span id="page-second-title">
         |
        <span class="inpe-image" title="INPE"></span>
        <span class="programa-queimadas-image" title="Programa Queimadas"></span>
        <span class="text">INPE - Programa Queimadas - Apoio: </span>
        <span class="defra-image" title="DEFRA"></span>
        <span class="banco-mundial-image" title="Banco Mundial"></span>
        <span class="mma-image" title="Ministério do Meio Ambiente"></span>
        <span class="funcate-image" title="Funcate"></span>
      </span>
    </div>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li id="languages-secondary">
          <div class="languages-item portuguese" title="Portugu&ecirc;s"></div>
          <div class="languages-item english" title="English"></div>
          <div class="languages-item spanish" title="Espan&otilde;l"></div>
        </li>
        <li>
          <a href="#" class="mouse-function-btn" id="moveMap" alt="Arrastar Tela" title="Arrastar Tela">
            <i class="fa fa-hand-rock-o active"></i>
          </a>
        </li>
        <li>
          <a href="#" class="mouse-function-btn" id="dragbox" alt="Selecionar Ret&acirc;ngulo" title="Selecionar Ret&acirc;ngulo">
            <i class="fa fa-crop"></i>
          </a>
        </li>
        <li>
          <a href="#" class="mouse-function-btn" id="initialExtent" alt="Extens&atilde;o Inicial" title="Extens&atilde;o Inicial">
            <i class="fa fa-arrows-alt"></i>
          </a>
        </li>
        <li>
          <a href="#" class="mouse-function-btn" id="getAttributes" alt="Obter Atributos dos Focos" title="Obter Atributos dos Focos">
            <i class="fa fa-info"></i>
          </a>
        </li>
        <li>
          <a href="#" class="mouse-function-btn" id="updateComponents" alt="Atualizar Dados" title="Atualizar Dados">
            <i class="fa fa-refresh"></i>
          </a>
        </li>
        <!--<li>
          <a href="#" class="mouse-function-btn" id="show-time-series-graphic" alt="S&eacute;ries Temporais" title="S&eacute;ries Temporais">
            <i class="fa fa-bar-chart"></i>
          </a>
        </li>-->
      </ul>
    </div>
  </nav>
</header>
