<header class="main-header">
  <% include brasilGovHeader %>
  <!-- Logo -->
  <a href="#" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">BDQueimadas</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" id="main-sidebar-toggle" style="display: none;">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="continents-title">Continentes</a>
          <ul class="dropdown-menu">
            <li>
              <ul class="menu" id="continents">
                <% continents.rows.forEach(function(continent, index) { %>
                  <li class="continent-item" id="<%- continent.id %>">
                    <a href="#">
                      <%- continent.name %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            </li>
          </ul>
        </li>
        <li class="sparator">></li>
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="countries-title">Países</a>
          <ul class="dropdown-menu">
            <li>
              <ul class="menu" id="countries"></ul>
            </li>
          </ul>
        </li>
        <li class="sparator">></li>
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="states-title">Estados</a>
          <ul class="dropdown-menu">
            <li>
              <ul class="menu" id="states"></ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
