<div id="left-content-box-background"></div>
<% include left_content_boxes/terrama2-layerexplorer %>
<% include left_content_boxes/filter-box %>
<% include left_content_boxes/table-box %>
<% include left_content_boxes/graph-box %>
