<div id="left-content-box-background"></div>
<% include leftContentBoxes/layerExplorer %>
<% include leftContentBoxes/filterBox %>
<% include leftContentBoxes/tableBox %>
<% include leftContentBoxes/graphBox %>
