<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" style="overflow: hidden !important;">
      <li class="header">MENU</li>
      <li box="layer-explorer-and-filter-box" class="left-box" id="layer-explorer-and-filter-button">
        <a href="#" title="Filtros de Datas, sat&eacute;lites, Regi&otilde;es, e outras camadas">
          <div class="menu-btn-number">1</div>
          <i class="fa fa-gears"></i>
          <span>Filtros de Datas, sat&eacute;lites, Regi&otilde;es, e outras camadas</span>
        </a>
      </li>
      <li box="graph-box" class="left-box" id="graph-button">
        <a href="#" title="Gr&aacute;ficos">
          <div class="menu-btn-number">2</div>
          <i class="fa fa-bar-chart"></i>
          <span>Gr&aacute;ficos</span>
        </a>
      </li>
      <li>
        <a href="#" title="Exportar Dados" id="export">
          <div class="menu-btn-number">3</div>
          <i class="fa fa-download"></i>
          <span>Exportar Dados</span>
        </a>
      </li>
      <li box="table-box" class="left-box" id="table-button">
        <a href="#" title="Tabela de Atributos">
          <div class="menu-btn-number">4</div>
          <i class="fa fa-table"></i>
          <span>Tabela de Atributos</span>
        </a>
      </li>
      <li>
        <a href="#" title="Sobre" id="about-btn">
          <div class="menu-btn-number">5</div>
          <i class="fa fa-copyright" style="font-size: 16px;"></i>
          <span>Sobre</span>
        </a>
      </li>
      <li>
        <a href="#" title="Perguntas Frequentes" id="frequently-asked-questions-btn">
          <div class="menu-btn-number">6</div>
          <i class="fa fa-question-circle" style="font-size: 16px;"></i>
          <span>Perguntas Frequentes</span>
        </a>
      </li>
      <li>
        <a href="#" title="Apresenta&ccedil;&atilde;o" id="presentation-btn">
          <div class="menu-btn-number">7</div>
          <i class="fa fa-desktop"></i>
          <span>Apresenta&ccedil;&atilde;o</span>
        </a>
      </li>
      <li>
        <a href="#" title="Contato" id="contact-btn">
          <div class="menu-btn-number">8</div>
          <i class="fa fa-envelope"></i>
          <span>Contato</span>
        </a>
      </li>
      <li>
        <a href="#" title="Avisos Operacionais" id="notice-btn">
          <div class="menu-btn-number">9</div>
          <i class="fa fa-exclamation-triangle"></i>
          <span>Avisos Operacionais</span>
        </a>
      </li>
      <hr style="border: 2px solid black;"/>
      <li>
        <a href="http://www.inpe.br/queimadas/" title="Home Queimadas" target="_blank">
          <div class="menu-btn-number">1</div>
          <i class="fa fa-home" style="font-size: 18px !important;"></i>
          <span>Home Queimadas</span>
        </a>
      </li>
      <li>
        <a href="http://www.inpe.br/queimadas/sitAtual.php" title="Situação Atual" target="_blank" id="current-situation-btn">
          <div class="menu-btn-number">2</div>
          <span>Situação Atual</span>
        </a>
      </li>
      <li>
        <a href="http://www.inpe.br/queimadas/sitAreaProt.php" title="Situação Atual Áreas Protegidas" target="_blank" id="current-situation-protected-areas-btn">
          <div class="menu-btn-number">3</div>
          <span>Situação Atual Áreas Protegidas</span>
        </a>
      </li>
      <li>
        <a href="http://www.inpe.br/queimadas/abasFogo.php" title="Risco de Fogo" target="_blank" id="fire-risk-btn">
          <div class="menu-btn-number">4</div>
          <span>Risco de Fogo</span>
        </a>
      </li>
      <li>
        <a href="http://www.inpe.br/queimadas/estatisticas.php" title="Resumos Pa&iacute;ses" target="_blank" id="summary-countries-btn">
          <div class="menu-btn-number">5</div>
          <span>Resumos Pa&iacute;ses</span>
        </a>
      </li>
      <li>
        <a href="http://www.inpe.br/queimadas/estatisticas_estados.php" title="Resumos Estados" target="_blank" id="summary-states-btn">
          <div class="menu-btn-number">6</div>
          <span>Resumos Estados</span>
        </a>
      </li>
      <li>
        <a href="http://www.inpe.br/queimadas/cadastro_login.php" title="Receber Alertas e Relat&oacute;rios" target="_blank">
          <div class="menu-btn-number">7</div>
          <i class="fa fa-at" style="font-size: 18px;"></i>
          <span>Receber Alertas e Relat&oacute;rios</span>
        </a>
      </li>
      <li>
        <a href="http://www.inpe.br/queimadas/valida_exemplos.php" title="Exemplos e Valida&ccedil;&otilde;es" target="_blank" id="examples-and-validations-btn">
          <div class="menu-btn-number">8</div>
          <span>Exemplos e Valida&ccedil;&otilde;es</span>
        </a>
      </li>
      <li>
        <a href="http://www.inpe.br/queimadas/anima_filmes.php" title="Mapas Mensais e Anima&ccedil;&otilde;es" target="_blank" id="maps-and-animations-btn">
          <div class="menu-btn-number">9</div>
          <span>Mapas Mensais e Anima&ccedil;&otilde;es</span>
        </a>
      </li>
      <li>
        <a href="http://www.inpe.br/queimadas/infoqueima.php" title="Boletim InfoQueima" target="_blank" id="infoqueima-btn">
          <div class="menu-btn-number">10</div>
          <span>Boletim InfoQueima</span>
        </a>
      </li>
      <li>
        <a href="https://queimadas.dgi.inpe.br/ciman/" title="CIMAN" target="_blank" id="ciman-btn"><!-- https://dev-queimadas.dgi.inpe.br/ciman/ -->
          <div class="menu-btn-number">11</div>
          <span>CIMAN</span>
        </a>
      </li>
      <li>
        <a href="http://www.inpe.br/queimadas/midia.php" title="Na Mídia" target="_blank" id="on-media-btn">
          <div class="menu-btn-number">12</div>
          <span>Na Mídia</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
