<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">MENU</li>
      <li box="layer-explorer-and-filter-box">
        <a href="#" title="Camadas e Filtros">
          <i class="fa fa-gears"></i>
          <span>Camadas e Filtros</span>
        </a>
      </li>
      <li id="filters-btn" box="filter-box">
        <a href="#" title="Filtros de Datas e Sat&eacute;lites">
          <span>Filtros de Datas e Sat&eacute;lites</span>
        </a>
      </li>
      <li id="tables-btn" box="table-box">
        <a href="#" title="Tabela de Atributos">
          <span>Tabela de Atributos</span>
        </a>
      </li>
      <li id="graphs-btn" box="graph-box">
        <a href="#" title="Gr&aacute;ficos">
          <span>Gr&aacute;ficos</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
