<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">MENU</li>
      <li box="layer-explorer-and-filter-box">
        <a href="#" title="Filtros de Datas, sat&eacute;lites, Regi&otilde;es, e outras camadas">
          <i class="fa fa-gears"></i>
          <span>Filtros de Datas, sat&eacute;lites, Regi&otilde;es, e outras camadas</span>
        </a>
      </li>
      <li box="table-box">
        <a href="#" title="Tabela de Atributos">
          <i class="fa fa-table"></i>
          <span>Tabela de Atributos</span>
        </a>
      </li>
      <li box="graph-box">
        <a href="#" title="Gr&aacute;ficos">
          <i class="fa fa-bar-chart"></i>
          <span>Gr&aacute;ficos</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
