<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" style="overflow: hidden !important;">
      <li class="header">MENU</li>
      <li box="layer-explorer-and-filter-box" class="left-box" id="layer-explorer-and-filter-button">
        <a href="#" title="Filtros de Datas, sat&eacute;lites, Regi&otilde;es, e outras camadas">
          <i class="fa fa-gears"></i>
          <span>Filtros de Datas, sat&eacute;lites, Regi&otilde;es, e outras camadas</span>
        </a>
      </li>
      <li box="graph-box" class="left-box" id="graph-button">
        <a href="#" title="Gr&aacute;ficos">
          <i class="fa fa-bar-chart"></i>
          <span>Gr&aacute;ficos</span>
        </a>
      </li>
      <li>
        <a href="#" title="Exportar Dados" id="export">
          <i class="fa fa-download"></i>
          <span>Exportar Dados</span>
        </a>
      </li>
      <li box="table-box" class="left-box" id="table-button">
        <a href="#" title="Tabela de Atributos">
          <i class="fa fa-table"></i>
          <span>Tabela de Atributos</span>
        </a>
      </li>
      <li>
        <a href="#" title="Sobre" id="about-btn">
          <i class="fa fa-copyright"></i>
          <span>Sobre</span>
        </a>
      </li>
      <li>
        <a href="#" title="Perguntas Frequentes" id="frequently-asked-questions-btn">
          <i class="fa fa-question-circle"></i>
          <span>Perguntas Frequentes</span>
        </a>
      </li>
      <li>
        <a href="#" title="Apresenta&ccedil;&atilde;o" id="presentation-btn">
          <i class="fa fa-desktop"></i>
          <span>Apresenta&ccedil;&atilde;o</span>
        </a>
      </li>
      <hr/>
      <li>
        <a href="http://www.inpe.br/queimadas/" title="Home Queimadas" target="_blank">
          <i class="fa fa-home"></i>
          <span>Home Queimadas</span>
        </a>
      </li>
      <li>
        <a href="http://www.inpe.br/queimadas/cadastro_login.php" title="Receber Alertas e Relat&oacute;rios" target="_blank">
          <i class="fa fa-envelope"></i>
          <span>Receber Alertas e Relat&oacute;rios</span>
        </a>
      </li>
      <li>
        <a href="http://www.inpe.br/queimadas/anima_filmes.php" title="Mapas Mensais e Anima&ccedil;&otilde;es" target="_blank">
          <i class="fa fa-play-circle"></i>
          <span>Mapas Mensais e Anima&ccedil;&otilde;es</span>
        </a>
      </li>
      <li>
        <a href="http://queimadas.cptec.inpe.br/~rqueimadas/ExemplosValidacao" title="Exemplos e Valida&ccedil;&otilde;es" target="_blank">
          <i class="fa fa-image"></i>
          <span>Exemplos e Valida&ccedil;&otilde;es</span>
        </a>
      </li>
      <li>
        <a href="http://www.inpe.br/queimadas/estatisticas.php" title="Estatísticas - Brasil" target="_blank">
          <i class="fa fa-calculator"></i>
          <span>Estatísticas - Brasil</span>
        </a>
      </li>
      <li>
        <a href="http://www.inpe.br/queimadas/estatisticas_estados.php" title="Estatísticas - Estados" target="_blank">
          <i class="fa fa-calculator"></i>
          <span>Estatísticas - Estados</span>
        </a>
      </li>
      <li>
        <a href="http://www.inpe.br/queimadas/sitAtual.php" title="Situação Atual" target="_blank">
          <i class="fa fa-refresh"></i>
          <span>Situação Atual</span>
        </a>
      </li>
      <li>
        <a href="http://www.inpe.br/queimadas/infoqueima.php" title="Boletim InfoQueima" target="_blank">
          <i class="fa fa-info-circle"></i>
          <span>Boletim InfoQueima</span>
        </a>
      </li>
      <li>
        <a href="https://queimadas.dgi.inpe.br/ciman/" title="CIMAN" target="_blank"><!-- https://dev-queimadas.dgi.inpe.br/ciman/ -->
          <i class="fa fa-map"></i>
          <span>CIMAN</span>
        </a>
      </li>
      <li>
        <a href="http://www.inpe.br/queimadas/midia.php" title="Na Mídia" target="_blank">
          <i class="fa fa-newspaper-o"></i>
          <span>Na Mídia</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
