<aside class="control-sidebar control-sidebar-dark">
  <div class="tab-content">
    <a href="#" class="mouse-function-btn" id="moveMap" alt="Ferramenta de Navega&ccedil;&atilde;o" title="Ferramenta de Navega&ccedil;&atilde;o">
      <i class="fa fa-arrows-alt active"></i>
    </a>
    <a href="#" class="mouse-function-btn" id="dragbox" alt="Ferramenta de Sele&ccedil;&atilde;o Espacial" title="Ferramenta de Sele&ccedil;&atilde;o Espacial">
      <i class="fa fa-crop"></i>
    </a>
    <a href="#" class="mouse-function-btn" id="initialExtent" alt="Extens&atilde;o Inicial" title="Extens&atilde;o Inicial">
      <i class="fa fa-thumb-tack"></i>
    </a>
    <a href="#" class="mouse-function-btn" id="filterTableToExtent" alt="Filtrar Tabela de Atributos" title="Filtrar Tabela de Atributos">
      <i class="fa fa-table"></i>
    </a>
    <br/>
    _
    <br/>
    <a href="#" class="mouse-function-btn"><i class="fa fa-crosshairs"></i></a>
    <a href="#" class="mouse-function-btn"><i class="fa fa-edit"></i></a>
    <a href="#" class="mouse-function-btn"><i class="fa fa-eye"></i></a>
    <a href="#" class="mouse-function-btn"><i class="fa fa-fire"></i></a>
    <a href="#" class="mouse-function-btn"><i class="fa fa-flag"></i></a>
    <a href="#" class="mouse-function-btn"><i class="fa fa-globe"></i></a>
    <a href="#" class="mouse-function-btn"><i class="fa fa-image"></i></a>
    <a href="#" class="mouse-function-btn"><i class="fa fa-map-marker"></i></a>
    <a href="#" class="mouse-function-btn"><i class="fa fa-map-o"></i></a>
    <a href="#" class="mouse-function-btn"><i class="fa fa-map"></i></a>
    <a href="#" class="mouse-function-btn"><i class="fa fa-gears"></i></a>
  </div>
</aside>
<div class="control-sidebar-bg"></div>
