.footer-text {
  text-align: center;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
  display: none !important;
}

.main-sidebar {
  padding-top: 83px !important;
}

.sidebar-menu > li > a {
  height: 44px;
  background-repeat: no-repeat;
  background-position: 14px;
  background-size: 14px;
}

.sidebar-menu > li > a:hover {
  background-repeat: no-repeat !important;
  background-position: 14px !important;
  background-size: 14px !important;
}

.sidebar-menu > li > a > span {
  padding-left: 22px;
}

.content-header {
  margin-top: 30px;
}

.content {
  min-height: 0px !important;
}

#filter-box {
  color: white;
}

.left-content-box {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  float: left;
  z-index: 500;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 83px 20px 0 20px;
  top: 0;
  bottom: 0;
  width: 350px;
  left: -350px;
}

.fullscreen {
  width: calc(100% - 50px) !important;
  left: -100%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.fullmenu {
  width: calc(100% - 230px) !important;
}

#left-content-box-background {
  width: 350px;
  position: fixed;
  height: 100%;
  z-index: 500;
  background: rgba(34,45,50,0.85);
  left: -350px;
  top: 0;
  bottom: 0;
}

#terrama2-layerexplorer {
  color: white;
}

#filters-btn > a {
  background-image: url('../images/icon_calendar.png');
}

#tables-btn > a {
  background-image: url('../images/icon_table.png');
}

#graphs-btn > a {
  background-image: url('../images/icon_graphics.png');
}

#layerexplorer-btn > a {
  background-image: url('../images/icon_layers.png');
}

.logo-mini {
  height: 100%;
  background-image: url('../images/lit.png');
  background-repeat: no-repeat;
  background-position: center;
}

.logo-lg {
  height: 100%;
  background-image: url('../images/big.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -15px;
}

#terrama2-map {
  width: calc(100% - 50px);
  height: calc(100% - 210px) !important;
  min-height: calc(100% - 210px) !important;
  max-height: calc(100% - 210px) !important;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
