<div class="box box-default color-palette-box">
  <div class="box-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="initial-date">Data Inicial</label>
          <input type="text" class="form-control" id="initial-date" placeholder="Data Inicial" value="2017-07-18">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="final-date">Data Final</label>
          <input type="text" class="form-control" id="final-date" placeholder="Data Final" value="2017-07-19">
        </div>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary" style="margin-top: 24px;" id="filter-downloads">Filtrar</button>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-hover" id="downloads-table">
          <thead>
            <th>Data do Download</th>
            <th>Ip</th>
            <th>Filtro - Data Inicial</th>
            <th>Filtro - Data Final</th>
            <th>Filtro - Satélites</th>
            <th>Filtro - Biomas</th>
            <th>Filtro - Países</th>
            <th>Filtro - Estados</th>
            <th>Filtro - Cidade</th>
            <th>Formatos</th>
          </thead>
          <tfoot>
            <th>Data do Download</th>
            <th>Ip</th>
            <th>Filtro - Data Inicial</th>
            <th>Filtro - Data Final</th>
            <th>Filtro - Satélites</th>
            <th>Filtro - Biomas</th>
            <th>Filtro - Países</th>
            <th>Filtro - Estados</th>
            <th>Filtro - Cidade</th>
            <th>Formatos</th>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>