<div class="fullscreen left-content-box" id="graph-box">
  <br/>
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Expandable</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body" style="display: block;">
      <div class="chart">
        <canvas id="canvas" style="height:250px"></canvas>
      </div>
    </div>
  </div>
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Expandable</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body" style="display: block;">
      <div class="chart">
        <canvas id="chart-area" style="height:250px"></canvas>
      </div>
    </div>
  </div>
</div>
